{% extends 'info/base.html' %}
    {% load static %}

    {% block content %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<figure class="highcharts-figure">
  <div id="container"></div>
  <div id="contain"></div>
  <p class="highcharts-description">
You can actually get to End semester the clear visualization of the graph and table in the below
  </p>

                  <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
            <b>Marks</b></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Quiz1</th>
                        <th>Quiz2</th>
                        <th>Quiz3</th>
                        <th>Minor 1</th>
                        <th>Minor 2</th>
                        <th>End semester</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sc in sc_list %}
                    <tr>

                      <td><b>{{ sc.student.name }}({{sc.student_id}}) </b></td>
                       {% for m in sc.marks_set.all %}
                      <td>{{ m.marks1 }}</td>
                       {%endfor%}
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </figure>
        <style>
          #container {
        height: 500px;
      }
      
      .highcharts-figure, .highcharts-data-table table {
        min-width: 50px;
        max-width: 1000px;
        margin: 1em auto;
      }
      
      #dataTable {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 200%;
        max-width: 1000px;
      }
      #dataTable caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
      }
      #dataTable th {
        font-weight: 600;
        padding: 0.5em;
      }
      #dataTable td, #dataTable th, #dataTable caption {
        padding: 0.5em;
      }
      #dataTable thead tr, #dataTable tr:nth-child(even) {
        background: #f8f8f8;
      }
      #dataTable tr:hover {
        background: #f1f7ff;
      }
      </style>
      <script>
          Highcharts.chart('container', {
        data: {
          table: 'dataTable'
        },
        chart: {
          type: 'column'
        },
        title: {
          text: ' BAR GRAPH BELOW'
        },
        yAxis: {
          allowDecimals: false,
          title: {
            text: 'Units'
          }
        },
        tooltip: {
          formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
              this.point.y + ' ' + this.point.name.toLowerCase();
          }
        }
      });
      Highcharts.chart('contain', {
  data: {
    table: 'dataTable'
  },
  chart: {
   polar: true
  },
  title: {
    text: 'POLAR'
  },
  yAxis: {
    allowDecimals: false,
    title: {
      text: 'Units'
    }
  },
  tooltip: {
    formatter: function () {
      return '<b>' + this.series.name + '</b><br/>' +
        this.point.y + ' ' + this.point.name.toLowerCase();
    }
  }
});

      </script>



    {% endblock %}


